#Mascotalandia{
    color:#3C92D8;
    font-size: 20px;
    text-decoration: none;
    margin-right: 16px;
    padding-top: 3px;
}


#xdBuscar{
    border-color: #e94f37; 
    color:#e94f37;
    margin-right: 20px;
    margin-left: -5px;
}
.navbar{
    -webkit-box-shadow:0px 2px 2px #00d9ff;
    -moz-box-shadow:0px 2px 2px #ff0000;
    box-shadow:0px 2px 2px #ff00d4;
    position: fixed;
    z-index: 1;
    display: flex;
    transition: 0.3s;
    width: 100%;
    top: 0;
}

#carousel1{
    position: relative;
    z-index: 0;
}

.carousel {
    width: auto;
    height: auto;
    margin: 0 auto;
}

.carousel-item img {
    width: 1110px;
    height: 325px;
    max-height: 325px;
    margin: auto;
    display: block;
}

.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.carousel-indicators {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 15;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    padding-left: 0;
    margin-right: 15%;
    margin-left: 15%;
    list-style: none;
}

.carousel-item-next, .carousel-item-prev, .carousel-item.active {
    display: block;
}

.carousel-item {
    position: relative;
    display: none;
    float: left;
    width: 100%;
    margin-right: -100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: -webkit-transform .6s ease-in-out;
    transition: transform .6s ease-in-out;
    transition: transform .6s ease-in-out,-webkit-transform .6s ease-in-out;
}

.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
} 

#qSomos{
    margin-right: 0px;
    margin-left: 0px;
    margin-bottom: 0;
    background-color: #F8F9FA;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #596272;
}

#qSomos h1{
    color: #212529;
}
  
#qSomos h2{
    color: #e94f37;
}

#imgmascota {
    width: 510px;
    height: 325px;
}

.card {
    -webkit-box-shadow: 0px 0px 4px #c5c5c5;
    -moz-box-shadow: 0px 0px 4px #c5c5c5;
    box-shadow: 0px 0px 4px #c5c5c5;
    border-radius: 7px;
    margin-bottom: 20px;
    text-align: justify;
    padding: 5px;
    color: #596272;
}

#mochileros {
    height: 298px;
}

.col-lg-1 {
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
    margin-left: 80px;
    
}

.newsletter {
    background-color: #212529;
    color: white;
    padding-bottom: 5px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 7px;
    -webkit-box-shadow: 0px 0px 7px #c5c5c5;
    -moz-box-shadow: 0px 0px 7px #c5c5c5;
    box-shadow: 0px 0px 7px #818181;
    align-items: center;
    font-size: 18px;
}

.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

footer {
    padding: 20px;
    color: #c5c5c5;
    background-color: #212529;
    margin-top: 20px;
}

body {
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
}


.img-fluid {
    max-width: 100%;
    height: auto;
}

.shishikush {
    text-align: center;
}